<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>行情主页-自选股-最新</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/frame1.css">
</head>
<body class="bg1">
<ul class="dataUl-li" id="content" >
    <li v-for="transArray in transArrays" @click="gopage(transArray.zdRang,transArray.sid,transArray.sname,transArray.sno)">
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">{{transArray.sname}}</p>
                <p class="font-colo-gy aui-font-size-12">{{transArray.sno}}</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">{{transArray.nowPrice}}</li>
            <li class="aui-col-xs-3 font-colo-r">{{transArray.zdPrice}}</li>
            <li class="aui-col-xs-3 font-colo-r">{{transArray.zdRang}}</li>
        </ol>
    </li>
    <li v-for="transArray in transArrays" @click="gopage(transArray.zdRang,transArray.sid,transArray.sname,transArray.sno)">
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">{{transArray.sname}}</p>
                <p class="font-colo-gy aui-font-size-12">{{transArray.sno}}</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">{{transArray.nowPrice}}</li>
            <li class="aui-col-xs-3 font-colo-r">{{transArray.zdPrice}}</li>
            <li class="aui-col-xs-3 font-colo-r">{{transArray.zdRang}}</li>
        </ol>
    </li>
    <li v-for="transArray in transArrays" @click="gopage(transArray.zdRang,transArray.sid,transArray.sname,transArray.sno)">
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">{{transArray.sname}}</p>
                <p class="font-colo-gy aui-font-size-12">{{transArray.sno}}</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">{{transArray.nowPrice}}</li>
            <li class="aui-col-xs-3 font-colo-r">{{transArray.zdPrice}}</li>
            <li class="aui-col-xs-3 font-colo-r">{{transArray.zdRang}}</li>
        </ol>
    </li>
    <li>
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">131</p>
                <p class="font-colo-gy aui-font-size-12">132</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">131313</li>
            <li class="aui-col-xs-3 font-colo-r">1313132</li>
            <li class="aui-col-xs-3 font-colo-r">1231</li>
        </ol>
    </li>
    <li>
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">131</p>
                <p class="font-colo-gy aui-font-size-12">132</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">131313</li>
            <li class="aui-col-xs-3 font-colo-r">1313132</li>
            <li class="aui-col-xs-3 font-colo-r">1231</li>
        </ol>
    </li>
    <li>
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">131</p>
                <p class="font-colo-gy aui-font-size-12">132</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">131313</li>
            <li class="aui-col-xs-3 font-colo-r">1313132</li>
            <li class="aui-col-xs-3 font-colo-r">1231</li>
        </ol>
    </li>
    <li>
        <ol class="aui-row aui-padded-t-5 aui-padded-b-5 aui-text-center" style="border-bottom: 1px solid rgba(126,126,142,0.2); ">
            <li class="aui-col-xs-3">
                <p class="font-colo-w">131</p>
                <p class="font-colo-gy aui-font-size-12">132</p>
            </li>
            <li class="aui-col-xs-3 font-colo-w">131313</li>
            <li class="aui-col-xs-3 font-colo-r">1313132</li>
            <li class="aui-col-xs-3 font-colo-r">1231</li>
        </ol>
    </li>
</ul>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/config.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript">
  apiready = function () {
    api.parseTapmode();
    pageInit();

  };

  /* 初始化vue */
  function pageInit() {
    var vm = new Vue({
      el: '#content',
      data: {
        transArrays: [],
        zanAarrays: [],
        dieArrays: []
      },
      methods: {
        /*跳转股票页面*/
        gopage: function (state, id, name, son) {
          var statg = state.indexOf('-') > -1 ? ('down') : ('up');
          openWin('trading_market_up', {id: id, state: statg, name: name, sno: son});
        },
        goModify: function () {
          openWin('trading_market_compile');
        }
      },
      mounted: function () {
        var _this = this;
        apiAjax(PHP_SERVE_URL + '/trade/selfStock', {
          openId: "pY1RkVGVkOX1O1"
        }, function (res) {
          _this.transArrays = res.data;
          var allData = res.data;
          allData.forEach(function (item, index) {
            var nowNumber = Number(item.zdRang.substring(0, item.zdRang.indexOf("%")));
            if (nowNumber > 0) {
              _this.zanAarrays.push(item)
            } else if (nowNumber < 0) {
              _this.dieArrays.push(item)
            }
          })
        });
      }
    });
  }
</script>
</body>
</html>