<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>交易</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/loading.css">
    <style>
        html {
            height: 100%;
        }
        /*浅白*/
        /*最底背景：黑色*/

        .bg1 {
            background-color: #171b24;
        }
        /*底背景：半黑色*/

        .bg2 {
            background-color: #1c2029;
        }
        /*小背景*/

        .bg {
            padding: 0.75rem;
            margin-top: 0.75rem;
        }
        /*白色背景*/

        .bg-color {
            background: #ffffff;
        }
        /*红色*/

        .font-colo-r {
            color: #de3232 !important;
        }
        /*绿色*/

        .font-colo-g {
            color: #43ac45 !important;
        }
        /*灰色*/

        .font-colo-gy {
            color: #7e7e8e !important;
        }
        /*白色*/

        .font-colo-w {
            color: #ffffff !important;
        }

        .white {
            color: #757575 !important;
        }
        /*黑色*/

        .font-colo-b {
            color: #212121 !important;
        }
        /*头部*/

        .aui-bar {
            background-color: #de3232;
        }
        /*内容*/

        .overflow-x-hidden {
            overflow-x: hidden;
        }
        /*清除下划线*/

        .aui-list,
        .aui-list .aui-list-item-title,
        .aui-list .aui-list-item,
        .aui-list .aui-list-item-inner,
        .aui-list.aui-list-in .aui-list-item {
            background-image: none;
        }
        /*清除内边距*/

        .aui-list .aui-list-item,
        .aui-list .aui-list-item-inne,
        .aui-list .aui-list-header {
            padding: 0rem;
        }
        /*买入*/

        .aui-grid .aui-col-xs-3,
        .aui-grid .aui-col-xs-3.aui-active,
        .aui-grid .aui-col-xs-3 {
            padding: 0.5rem 0;
        }

        #footer .aui-grid .aui-col-xs-3.aui-active {
            background-color: #de3232;
            color: #fff;
        }

        .aui-bar-btn-item {
            color: #7e7e8e;
            border: none;
        }

        .aui-bar-btn-item.aui-active {
            background-color: #7e7e8e;
            color: #000000 !important;
        }

        .backcolor {
            background-color: #1c2029;
            color: #fff;
        }

        .aui-bar-btn.aui-bar-btn-round .aui-bar-btn-item:first-child,
        .aui-bar-btn.aui-bar-btn-round .aui-bar-btn-item:last-child {
            border-radius: 0.3rem;
            border: none;
        }

        .aui-grid .aui-col-xs-4 input {
            font-size: 0.65rem;
        }

        .aui-grid .aui-col-xs-4 p {
            font-weight: 700;
        }
        /* 文本框预输入文字颜色：*/

         :-moz-placeholder {
            color: #757575;
        }

         ::-moz-placeholder {
            color: #757575;
        }

        input:-ms-input-placeholder {
            color: #757575;
        }

        input::-webkit-input-placeholder {
            color: #757575;
        }

        .aui-content .back-active:active {
            background-color: rgba(126, 126, 142, 0.2);
        }

        .aui-content .on-active:active {
            background-color: inherit !important;
        }

        .aui-grid .back-red:active {
            background-color: #2B2F39;
            opacity: 0.2;
        }

        .indistinct_search {
            position: absolute;
            left: 0;
            top: 3.1rem;
            width: 100%;
            text-align: center;
            z-index: 99;
            /*background: #fff;*/
        }

        .indistinct_search li {
            line-height: 1.6rem;
        }

        [v-cloak] {
            display: none
        }

        #buy {
            height: 100%;
        }

        .aui-content .hide {
            display: none;
        }

        .aui-content .show {
            display: block;
        }

        .padding-lr {
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
        }

        #btnData {
            width: 26%;
            background-color: inherit;
            border: 1px solid #7e7e8e;
            border-radius: 0.3rem;
            line-height: 1.6rem;
            min-height: 1.6rem;
        }

        .aui-bar-btn-item {
            line-height: 1.6rem;
        }

        .border-all {
            border: 1px solid rgba(126, 126, 142, 0.2)
        }

        input[type="number"] {
            height: 1.8rem;
            line-height: 1.8rem;
            font-size: 0.6rem;
        }

        input[type="text"] {
            font-size: 0.6rem;
        }

        .center-btn {
            height: 1.8rem;
            line-height: 1.8rem;
            text-align: center;
        }

        .btn-buy {
            line-height: 1.8rem;
            background-color: #de3232;
            color: #fff;
        }

        .buy-tpis {
            font-size: 0.65rem;
            line-height: 1.6rem;
        }

        .buy-tpis span {
            color: #de3232;
        }

        #btnSwitch>div {
            padding: 0.6rem 0;
        }
    </style>
</head>

<body class="bg1">
    <div class="aui-content tabcontent flex-wrap flex-vertical bg1" id="buy" :class="{bg1:isShow}" v-cloak="">
        <div class="flex-con">
            <div class="" :class="{show:isActive}">
                <div class="color-gray aui-padded-l-10 aui-padded-t-10 aui-padded-b-10 aui-font-size-14"> 分时</div>
                <div class="flex-btn  bg1 vessel-chart" style="height: 8rem;width: 100%" :class="{bg1:isShow}">
                    <div style="height: 8rem;width: 100%" id="main" class="bg4" v-show="!isKline"></div>
                    <p v-show="isKline">暂无消息</p>
                </div>
            </div>
            <div class="frame_buy-ct">
                <div class="aui-row">
                    <div class="aui-col-xs-6">
                        <div class="aui-padded-l-15 aui-padded-r-10">
                            <div class="aui-grid font-colo-gy border-all " style="background-color: inherit">
                                <div class="aui-row aui-content-padded">
                                    <input type="text" id="input" placeholder="请输入股票代码" @click="searchStock()" class="aui-text-center padding-lr" v-model='search' :class="{white:isShow}" readonly="">

                                </div>
                                <!--模糊查询-->
                                <div class="indistinct_search bg2" :class="{bg2:isShow}" v-show="isTrue" v-cloak>
                                    <ul v-for="item in searchData" @click="selectStock(item.id,item.stock_no,item.stock_name)">
                                        <li class="aui-ellipsis-1">{{item.stock_no}}-{{item.stock_name}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class=" font-colo-gy bg2  aui-margin-t-10  " :class="{bg2:isShow}">
                                <div class="aui-row border-all clearfix">
                                    <div class=" back-active aui-pull-left center-btn" style="width: 25%" @click="changeQuentity('top',-0.01,0)">
                                        -
                                    </div>
                                    <div class="  aui-pull-left back-active bg1" style="width: 50%;border-left: 1px solid rgba(126,126,142,0.2);border-right: 1px solid rgba(126,126,142,0.2)" :class="{bg1:isShow}">
                                        <input type="number" placeholder="买入价格" class="aui-text-center " v-model="quanlity" :class="{white:isShow}" pattern="[0-9]*">
                                    </div>
                                    <div class=" center-btn back-active aui-pull-left" style="width: 25%" @click="changeQuentity('top',0.01,0)">
                                        +
                                    </div>
                                </div>
                            </div>

                            <div class="aui-grid font-colo-gy bg2 aui-margin-t-10 " :class="{bg2:isShow}">
                                <div class="aui-row border-all">
                                    <div class=" back-active center-btn aui-pull-left" style="width: 25%;" @click="changeQuentity('bot',-100,1)">
                                        -
                                    </div>
                                    <div class="aui-pull-left  back-active bg1" style="width: 50% ;border-left: 1px solid rgba(126,126,142,0.2);border-right: 1px solid rgba(126,126,142,0.2)" :class="{bg1:isShow}">
                                        <input type="number" placeholder="买入数量" class="aui-text-center " v-model="price" :class="{white:isShow}" pattern="[0-9]*">
                                    </div>
                                    <div class="center-btn aui-pull-left back-active" style="width: 25%" @click="changeQuentity('bot',100,1)">
                                        +
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="color-gray buy-tpis ">可买<span>0</span>股</div> -->
                            <div class="color-gray buy-tpis aui-info">
                                <div class="aui-info-item aui-font-size-12">最低{{min_price}}</div>
                                <div class="aui-info-item aui-font-size-12">最高{{max_price}}</div>
                            </div>
                            <div class="aui-margin-t-15 btn-buy aui-text-center" @click="tabsSwitch(0)">买入</div>
                        </div>
                    </div>
                    <div class="aui-col-xs-6">
                        <div class="aui-row" v-for="sale in fiveTradeData.sale" v-cloak @click="tradeList(sale.price)">
                            <div class="clearfix aui-padded-l-15 aui-padded-r-15">
                                <span class="aui-pull-left font-colo-gy aui-margin-r-15 aui-font-size-14">{{sale.name}}</span>
                                <span class="aui-pull-left aui-margin-r-10 font-colo-r aui-font-size-14">{{sale.price}}</span>
                                <div class="aui-pull-right">
                                    <span class="aui-pull-right font-colo-r aui-font-size-14" v-if="sale.num >=10000">{{(sale.num/10000).toFixed(2)}}万</span>
                                    <span class="aui-pull-right font-colo-r aui-font-size-14" v-else="">{{sale.num}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="aui-row" v-for="buy in fiveTradeData.buy" @click="tradeList(buy.price)">
                            <div class="clearfix aui-padded-l-15 aui-padded-r-15">
                                <span class="aui-pull-left font-colo-gy aui-margin-r-15 aui-font-size-14">{{buy.name}}</span>
                                <span class="aui-pull-left aui-margin-r-10 font-colo-r aui-font-size-14">{{buy.price}}</span>
                                <div class="aui-pull-right">
                                    <span class="aui-pull-right font-colo-r aui-font-size-14" v-if="buy.num >=10000">{{(buy.num/10000).toFixed(2)}}万</span>
                                    <span class="aui-pull-right font-colo-r aui-font-size-14" v-else="">{{buy.num}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab " id="footer">
            <div class="aui-grid">
                <div class="aui-row backcolor" id="btnSwitch" :class="{backcolor:isShow}">
                    <div class="aui-col-xs-4 back-red " @click="tabsSwitch(1)"> 刷新</div>
                    <div class="aui-col-xs-4 back-red " @click="tabsSwitch(2)"> 买/卖</div>
                    <div class="aui-col-xs-4 back-red " @click="tabsSwitch(3)"> 清空</div>
                </div>
            </div>
        </footer>
    </div>
    <!--loading-->
    <div class="box " id="box">
        <div class="loader">
            <div class="loading_3">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
    </div>
</body>
<script src="../script/jquery-3.2.1.min.js"></script>
<script src="../script/echarts.min.js"></script>
<script src="../script/yltcrypt.js"></script>
<script src="../script/api.js"></script>
<script src="../script/config.js"></script>
<script src="../script/common.js"></script>
<script src="../script/aui-toast.js"></script>
<script src="../script/vue.js"></script>
<script>
    //涉及接口：所有股票数据、数据监听
    var user, openId, wsServer, websocket, pageParam;
    apiready = function() {
        user = $api.getStorage('user');
        pageParam = api.pageParam;
        //检测是否登录
        if (typeof user == "undefined") {
            openId = "";
        } else {
            openId = user.openId;
        }
        example();
    };

    function example() {
        vm = new Vue({
            el: '#buy',
            data: {
                search: "",
                isTrue: false,
                allStock: "",
                dataType: 'fiveTradeData',
                sid: 0,
                fiveTradeData: '',
                tradeLine: '',
                quanlity: '',
                price: '',
                chartLine2: '',
                times: [],
                prices: [],
                isActive: true,
                max_price: '--',
                min_price: '--',
                qNum: 0,
                pNum: 0,
                isShow: true,
                isKline: false
            },
            methods: {
                inputClick: function() {
                    $("#input").select();
                },
                searchStock: function() {
                    api.sendEvent({
                        name: 'searchStock',
                        extra: {
                            index: 5,
                            oldIndex: 0
                        }
                    })
                },
                //选中股票，筛选股票并选中后调用此方法
                selectStock: function(sid, stock_no, stock_name) {
                    var self = this;
                    this.search = stock_no + "-" + stock_name;
                    this.sid = sid;
                    this.isActive = true;
                    this.loadStock();
                },
                //数据监听
                loadStock: function() {
                    var self = this;
                    if (self.sid > 0) {
                        // var templateServer = 'ws://39.108.195.205:8076?ct=' + self.dataType + '-' + self.sid;
                        var templateServer = 'ws://39.108.195.205:8076?ct=fiveTradeData-' + self.sid + '@tradeLine-' + self.sid;
                        if (wsServer != templateServer) {
                            wsServer = templateServer;
                            if (websocket != undefined) {
                                websocket.close();
                            }
                            websocket = new WebSocket(wsServer);
                            //onopen监听连接打开
                            websocket.onopen = function(evt) {

                                //盘口数据
                                api.ajax({
                                    url: PHP_SERVE_URL + '/trade/stockHandicap',
                                    method: 'post',
                                    data: {
                                        values: {
                                            sid: self.sid,
                                            openId: openId
                                        }
                                    }
                                }, function(ret, err) {
                                    //  console.log(JSON.stringify(ret));
                                    if (!ret.code) {
                                        self.max_price = ret.data.max_price;
                                        self.min_price = ret.data.min_price;
                                        self.quanlity = ret.data.min_price;
                                    } else {
                                        toast(ret.msg);
                                    }
                                });
                                // if ("fiveTradeData" == self.dataType) {
                                //五档数据
                                apiAjax(PHP_SERVE_URL + '/trade/stockFiveData', {
                                    sid: self.sid
                                }, function(ret, err) {
                                    if (ret.code == 0) {
                                        self.fiveTradeData = ret;
                                        self.fiveTradeData.sale = self.fiveTradeData.sale.reverse();
                                    }
                                });
                                // } else {
                                //股票k线图
                                apiAjax(PHP_SERVE_URL + '/trade/stockKline', {
                                    sid: self.sid,
                                    type: 1
                                }, function(ret, err) {
                                    if (ret.code == 0) {

                                        if (ret.data.times.length == 0) {
                                            self.isKline = true
                                        } else {
                                            self.times = ret.data.times;
                                            self.prices = ret.data.prices;
                                            self.stockKline();
                                            self.isKline = false;
                                        }

                                    }
                                });
                                // }
                            };
                            //onmessage 监听服务器数据推送
                            websocket.onmessage = function(evt) {
                              var dd=JSON.parse(evt.data);
                              if (dd.msgtype=='fiveTradeData-'+self.sid ) {
                                self.fiveTradeData = dd;
                                self.fiveTradeData.sale = self.fiveTradeData.sale.reverse();
                              }else if(dd.msgtype=='tradeLine-'+self.sid){
                                  self.tradeLine = dd;

                                  var len = self.times.length-1;
                                  if(self.times[len] == dd.time){
                                      self.times[len] = dd.price;
                                  }else{
                                      self.times.push(dd.time);
                                      self.prices.push(dd.price);
                                  }
                                  self.stockKline();
                                  self.isKline = false;
                              }
                                // console.log(JSON.stringify(evt));
                                // if (evt.msgtype = "fiveTradeData-1") {
                                // self.fiveTradeData = JSON.parse(evt.data);
                                // } else {
                                // self.tradeLine = JSON.parse(evt.data);
                                // }
                                // console.log(JSON.stringify(JSON.parse(evt.data)));
                                //数据显示，曲线图展示
                            };
                            //监听连接关闭
                            websocket.onclose = function(evt) {
                                // console.log("Disconnected");
                            };
                            //监听连接错误信息
                            websocket.onerror = function(evt, e) {
                                //                                console.log('Error occured: ' + evt.data);
                            };
                        }
                    }
                },
                //变更数据类型
                changeType: function(tag) {
                    if (!this.search) return;
                    var items = $api.domAll('.aui-bar-btn-round .aui-bar-btn-item'),
                        itemsGrid = $api.domAll('.flex-con >div'),
                        index = 0;
                    for (var i = 0, len = items.length; i < len; i++) {
                        if (tag == i) {
                            index = i;
                        } else {
                            $api.removeCls(items[i], 'aui-active');
                            $api.removeCls(itemsGrid[i], 'show');
                        }
                    }
                    $api.addCls(items[index], 'aui-active');
                    $api.addCls(itemsGrid[index], 'show');
                    if (index == 0) {
                        this.dataType = 'fiveTradeData';
                    } else {
                        this.dataType = 'tradeLine';
                    }
                    this.loadStock();
                },
                //选项卡四按钮
                tabsSwitch: function(tag) {
                    switch (tag) {
                        case 0: //买入
                            if (this.search == '') {
                                toast("请输入股票代码");
                                return;
                            }
                            if (this.quanlity == '') {
                                toast("请输入买入价格");
                                return;
                            }
                            if (this.price == '') {
                                toast("请输入买入数量");
                                return;
                            }
                            if (this.price <= 0) {
                                toast("买入数量不能小于0");
                                return;
                            }
                            if (parseInt(this.quanlity) > parseInt(this.max_price)) {
                                toast("买入价格不能高于最高价格");
                            } else {
                                var data = {
                                    openId: user.openId,
                                    token: yltcrypt.cpt(user.openId),
                                    sid: this.sid,
                                    quanlity: this.price,
                                    price: parseFloat(this.quanlity).toFixed(2)
                                };
                                //                                console.log(JSON.stringify(data));
                                apiAjax(PHP_SERVE_URL + '/trade/buy', data, function(ret, err) {
                                    toast(ret.msg);
                                    if (ret.code == 0) {
                                        api.sendEvent({
                                            name: 'refresh-entrust'
                                        });
                                    }
                                });
                                break;
                            }

                        case 1: //刷新
                            setTimeout(function() {
                                toast("刷新成功")
                            }, 1000);
                            break;
                        case 2: //买卖
                            toast("暂未开放");
                            break;
                        case 3:
                            this.search = "";
                            this.quanlity = "";
                            this.price = "";
                            this.tradeLine = "";
                            this.isActive = false;
                            this.max_price = "--";
                            this.min_price = "--";
                            this.fiveTradeData = '';
                            toast("已清空");
                            break;
                    }
                },
                //k线图
                stockKline: function() {
                    var self = this;
                    var minPriceLine = parseInt(self.prices.min())-20;
                    minPriceLine = minPriceLine>0 ? minPriceLine : 0;
                    myChart = echarts.init(document.getElementById("main"));
                    myChart.setOption({
                        backgroundColor: "#171b24",
                        animation: true,
                        tooltip: {
                            trigger: 'axis',
                            confine: true,
                            axisPointer: {
                                animation: true,
                                type: 'cross',
                                lineStyle: {
                                    color: '#376df4',
                                    width: 2,
                                    opacity: 1,
                                }
                            },
                            formatter: "时间：{b}<br/>价格：{c}"
                        },
                        grid: [{
                                top: '5%',
                                left: 1,
                                right: 1,
                                height: '92%'
                            },

                        ],
                        xAxis: [{
                            type: 'category',
                            boundaryGap: false,
                            data: self.times,
                            axisLine: {
                                lineStyle: {
                                    color: '#ddd',
                                    opacity: 0.5,
                                }
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                show: false
                            },
                            // 控制网格线是否显示
                            splitLine: {
                                show: true,
                                //  改变轴线颜色
                                lineStyle: {
                                    // 使用深浅的间隔色
                                    color: '#ddd',
                                    opacity: 0.2
                                }
                            },
                        }],
                        yAxis: [{
                            type: 'value',
                            min: minPriceLine,
                            axisLine: {
                                lineStyle: {
                                    color: '#ddd',
                                    opacity: 0.5
                                }
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                show: true,
                                inside: true
                            },
                            // 控制网格线是否显示
                            splitLine: {
                                show: true,
                                //  改变轴线颜色
                                lineStyle: {
                                    // 使用深浅的间隔色
                                    color: '#ddd',
                                    opacity: 0.2
                                }
                            }
                        }],
                        color: ['#fff'],
                        series: [{
                            type: 'line',
                            stack: '总量',
                            smooth: true,
                            lineStyle: {
                                normal: {
                                    color: "#fff"
                                }
                            },
                            areaStyle: {
                                normal: {
                                    color: "#2d3645"
                                }
                            },
                            data: self.prices,
                        }]
                    });
                },
                //数量加减
                changeQuentity: function(paramenter, val, mun) {
                    if (mun == 0) {
                        if (this.quanlity == "") {
                            this.quanlity = 0;
                        }
                        if (paramenter == "top") {
                            this.quanlity = (parseFloat(this.quanlity) + val).toFixed(2);
                        } else {
                            this.price = parseFloat(this.price) + val;
                        }
                        this.qNum = this.quanlity;
                        if (this.qNum <= 0) {

                            this.quanlity = 0
                        }
                    } else {
                        if (this.price == "") {
                            this.price = 0;
                        }
                        if (paramenter == "top") {
                            this.quanlity = (parseFloat(this.quanlity) + val).toFixed(2);
                        } else {
                            this.price = parseFloat(this.price) + val;
                        }
                        this.pNum = this.price;
                        if (this.pNum <= 100) {
                            this.price = 100
                        }
                    }
                },
                tradeList: function(quanlity) {
                    this.quanlity = quanlity;
                }
            },
            mounted: function() {
                var self = this;
                //获取所有股票数据，输入股票后从allStock中筛选
                api.ajax({
                    url: PHP_SERVE_URL + '/trade/allStock',
                    method: 'post'
                }, function(ret, err) {
                    if (ret.code == 0) {
                        self.allStock = ret.data;
                        $api.css($api.dom("#box"), "display:none");
                        if (api.pageParam.bg == 0) {
                            self.isShow = true;
                        } else {
                            self.isShow = false;
                        }
                        if (pageParam.name != "") {
                            self.search = pageParam.sno + "-" + pageParam.name;
                            self.sid = pageParam.stockid;
                            self.loadStock();
                        }
                    } else {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                    }
                });
                this.loadStock();
                /*监听交易选中的股票*/
                api.addEventListener({
                    name: 'stockInfo'
                }, function(ret, err) {
                    self.search = ret.value.name;
                    self.sid = ret.value.sid;
                    self.loadStock();
                });
            },
            computed: {
                searchData: function() {
                    var search = this.search;
                    var searchVal = ''; //搜索后的数据
                    if (search) {
                        this.isKline = false;
                        this.isTrue = true;
                        searchVal = this.allStock.filter(function(product) {
                            return Object.keys(product).some(function(key) {
                                if (String(product['stock_name']).toLowerCase().indexOf(search) > -1) {
                                    return true;
                                }

                                return String(product['stock_no']).toLowerCase().indexOf(search) > -1;

                            })
                        })
                        return searchVal;
                    } else {
                        this.isKline = true;
                        this.isTrue = false;
                        this.tradeLine = "";
                    }

                }
            }
        });
    }
</script>

</html>
