html, body {
    height: 100%;

}

/*最底背景：黑色*/
.bg1 {
    background-color: #171b24;

}

.overflow-x-hidden {
    overflow-x: hidden;
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

#wrap {
    height: 100%;
}

#main {
    overflow: auto;
}

.aui-bar {
    background-color: #de3232;
}

.aui-bar-nav {
    color: #ffffff;
}

.aui-bar {
    display: inherit;
}

.index_hidden_top {
    width: 100%;

}

.index_hidden_top div {
    display: -webkit-box;
    height: 1.6rem;
    margin-top: 0.3rem;
}

.index_hidden_top .hidden_top2 {
    margin-right: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
}

.index_hidden_top input {
    height: 1.6rem;
    min-height: 1.6rem;
    color: #fff;
    width: inherit;
    font-size: 0.6rem;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.hidden_top1 {
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 0 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 70%;
    margin-left: 4%;;
}

.hidden_top1 img {
    width: 0.9rem;
    height: 0.9rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    display: block;
}

.hidden_top2 {
    float: right;
}

.hidden_top2 img {
    width: 100%;
}

section .nav img {
    padding: 0 1rem;
    border-radius: 1rem;
}

.aui-list {
    background-image: none;
}

.aui-list .aui-list-item {
    padding-left: 0;
}

.aui-list .aui-list-item-media {
    width: 28%;
    padding-right: 0;
}

.aui-ellipsis-2 {
    display: -webkit-box !important;
}

.aui-btn-danger {
    background-color: #de3232 !important;
}

.order {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.order .line {
    display: inline-block;
    width: 28%;
    border-top: 1px solid #CECECE;
}

.order .txt {
    color: #CECECE;
    font-size: .6rem;
    vertical-align: -4px;
}

#footer.aui-bar-tab .aui-active {
    color: #de3232;
}

#footer img {
    width: 1rem;
    margin: 0 auto;
}

.lamp {
    width: 74%;
    font-size: 0.7rem;
    margin-left: 2%;
    position: relative;
}

.lamp a {
    display: inline-block;
    margin: 0 6px;

}

.nav-btn img {
    width: 50%;
    margin: 0 auto;
}

.index-item-inner {
    display: block;
}

.aui-list .index-inner {
    width: 68%;
    padding-right: 0;
}

.index-cover-img {
    height: 6rem;
    width: 100%;
    border-radius: 0.2rem;
}

.index-btn {
    height: 1.3rem;
    line-height: 1.3rem;
}

.tradeIndex {
    width: 100%;

}

.aui-bar-nav .aui-bar-btn-item.aui-active {
    color: #de3232;
    border-radius: 0rem;
}

.aui-bar-btn-item {
    border-style: none;
    line-height: 2rem;
    color: #fff;
}

.aui-bar-nav .aui-bar-btn-item {
    line-height: 1.5rem;
}

.aui-tab-item.aui-active {
    color: #de3232;
    border-bottom: 2px solid #de3232;
}

.aui-tab-item {
    color: #7e7e8e;
}

.aui-list .aui-list-item-media {
    width: 1.5rem;
}



.vessel-chart {
    position: relative;
    height:8rem;
}

.vessel-chart p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3rem;
    height: 1.4rem;
    color: #7e7e8e;
    margin-left: -1.5rem;
    margin-top: -0.7rem;
}